<%- include("./partials/head.ejs") %>
  </head>

  <body>
    <main class="container mx-auto mt-10 p-5">
      <p>Nama : <%=message.name%>
      </p>
      <p>Gender : <%=message.gender%>
      </p>
      <p>Message : <%=message.message%>
      </p>
      <p>Country : <%=message.country%>
      </p>
    </main>
    <%- include("./partials/end.ejs") %>