<%- include("./partials/head.ejs") %>
  </head>

  <body>
    <header>
      <%- include("./partials/navbar.ejs") %>
    </header>
    <main class="flex justify-center items-center mt-12">
      <form action="/join/login" method="POST" class="rounded-md border-2 border-lime-800 ms-center p-2" id="formLogin">
        <div class="flex flex-row justify-around">
          <label for="login" class="block text-3xl font-medium text-gray-900 cursor-pointer" id="signUpLabel">
            <%=titleForm%>
          </label>
        </div>
        <div class="mt-6 flex flex-col justify-around items-center">
          <input type="email" name="email" id="loginEmail" autocomplete="given-name" placeholder="Your Email"
            class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 my-5">
          <input type="password" name="password" id="loginPassword" autocomplete="given-name"
            placeholder="Your Password"
            class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 my-5">
          <img src="../img/hidden.png" id="visible" class="hover:cursor-pointer size-6 absolute mt-20 mb-1 ml-80" alt="iconVisible">
        </div>
        <p>Don't have an account? <a href="/join/signup" class="text-teal-600">
            <%=text%>
          </a></p>
        <button type="submit" class="relative left-3/4 bg-lime-600 text-white py-2 px-7 rounded-md">Login</button>
      </form>
    </main>

    <%- include("./partials/end.ejs") %>